html {
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
  line-height: 1.5;
  background-color: #ff9500;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 1.5rem;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

ul {
  display: flex;
  flex-direction: column;
}

li{
  list-style: none;
}

h2 {
  text-align: center;
  color: #fff;
}

p {
  color: #fff;
}

a{
  border-style: solid;
  border-radius: .2rem;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
}
