html {
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.5;
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 1.5rem;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-left: 0;
}

ul{
  padding-left: 0;
}

li{
  list-style: none;
  text-align: center;
}

h2 {
  text-align: center;
  color: #fff;
}

p {
  color: #fff;
  text-align: left;
  padding-bottom: 1rem;
}

a{
  border-style: solid;
  border-radius: .2rem;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 38em) {

h1 {
  text-align: center;
}

section {
  display: grids;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

a{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
}
